:root {
    --main-title-color: #ffffff; 
    --second-title-color: #2E2F42;
    --third-title-color: #434455 ;
    --forth-title-color: #f4f4fd;

}

/* .post:nth-child(1) {
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
  } */
  
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
padding-left: 0;
margin: 0;
}

img {
    display: block;
}


body {
font-family:'Roboto', sans-serif;
background-color: #ffffff;
color: #434455;
}

.list {
list-style: none;
}

.link {
text-decoration: none;
}

.contacts {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
}

.text {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
}

/* ----------------header -------------------------*/
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 1px solid #404bbf;
}
.container-header {
    display: flex;
   align-items: center;
   justify-content: space-between;
   
}
.header {
color:#FFFFFF ;
padding-top: 24px;
padding-bottom: 24px;
border: 1px solid #E7E9FC;
}

.navigation-list{
    display: flex;
    align-items: center;
    margin-right: auto;
    
}



.main-logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
padding: 0px; 


}

.main-logo-studio {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--second-title-color);

}

.navigation {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--second-title-color);
}

.navigation:is(:hover, :focus) {
    color: #404bbf ; 
}

.header-list{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 76px;


}


.header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--second-title-color);
}

.header-link:is(:hover, :focus) {

color: #404bbf;
}

.adress {
font-style:normal;
align-content: center;
}
.info{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    gap: 40px;
}
.mail {


}

.mail-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--third-title-color);
    margin-right: auto;
    align-items: center;
}

.mail-link:is(:hover, :focus) {
    color: #404bbf;
}



.tel-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--third-title-color);
}

tel.link:is(:hover, :focus) {
    color: #404bbf;
}

.tel{

}
/* !<!-- Головний контент,секція1 --> */

.descrition {

margin-left: auto;
margin-right: auto;
padding-top: 188px;
padding-bottom: 188px;
max-width: 1440px;
text-align: center;
background-color: var(--second-title-color);
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7))
,url(../images/bg.jpg);
background-repeat: no-repeat;
background-position: center ;
background-size: cover;

}

.descrition-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;

}
.description-btn {
    background-color: #4D5AE5;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: block;
    margin: 0 auto;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.description-btn:is(:hover, :focus) {
    background-color: #404BBF;
}

/*---------Strategy, section2----------*/

.strategy-list {
padding-top: 120px ;
padding-bottom: 120px;
background-image: linear-gradient(40deg, blue, yellow);

}
.strategy-main-title {

}
.strategy-list-content {
    display: flex;
    gap:24px;
}
.strategy-item {
width: 264px;
}
.strategy-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--second-title-color);
margin-bottom: 8px;
}
.strategy-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;


}

/* --------------------What are we doing, perfomnce section 3------------------- */
.perfomance {
    padding-bottom: 120px;
    padding-top: 0;

}
.perfomance-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize; 
    letter-spacing: 0.02em;
    color: var(--second-title-color);
    padding-top: 0;
}

.perfomance-list {
    display: flex;
    gap: 24px;
    margin-top: 72px;
}
.perfomance-item {
    width: calc((100% - 48px) / 3);
}

/* --------------------------------Our team, section 4 ------------------------- */

.team {
    background-color: #F4F4FD; 
    padding-top: 120px ;
    padding-bottom: 120px;

}
.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--second-title-color);
    margin-bottom: 72px;
}
.team-members {
    display: flex;
    gap: 24px;
}

.team-members-description{
    padding: 32px 16px;

}
.team-members-item {
    background-color: #FFFFFF;
    width: calc((100% - 48px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.team-members-item-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: var(--second-title-color);
margin-bottom: 8px; ;
}
.team-members-item-text {
    line-height: 1.5 ;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-soc-item {
    width: 40px ;
    height: 40px;
}
.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-soc-link:hover,:focus{
   box-shadow: 0 10px 15px navy;
}



/*  -----------Footer ----------- */

.container-footer{

}

.footer {
    background-color: var(--second-title-color);
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: start;
}

.footer-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--forth-title-color);
    flex-wrap: wrap;
    max-width: 264px;
    margin-top: 16px;
    
}
.main-logo-studio-footer {
     color: var(--forth-title-color);
    
}

 /* ----------------PAGE POTFOLIO --------------------  */

 /*  ----------- Header, same as in index------------------ */

/* ------------------------Section1, our advantages --------------- */

.advantages {
    padding-top: 96px;
    padding-bottom: 120px;
}
.advantages-title {

}
.advantages-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    color: #4D5AE5;
    margin-bottom: 72px;
    

}
.btn {
    background-color:var(--forth-title-color) ;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    background: #F4F4FD; 
    padding: 12px 24px ;
    cursor: pointer;

}

.btn:is(:hover, :focus) {
    color: #fffffF;
    background-color:  #404BBF;
    border-color: transparent;
}

/* ------------------Full list of advantages--------------- */

.container-possibilities{

}

.possibilities-title {
}
.possibilities-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}
.possibilities-item {
max-width: calc((100% - 48px) / 3);
}
.possibilities-item-link{
display: block;
}
.possibilities-item-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--second-title-color);
margin-bottom: 8px;
}
.possibilities-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em ;
    color: var(--third-title-color);
    
}
.possibilities-text-container{
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}
